n8n/chatbot alumnos.json
{
  "name": "chatbot alumnos",
  "nodes": [
    {
      "parameters": {
        "content": "## BASE DE DATOS Y HERRAMIENTAS",
        "height": 529,
        "width": 343,
        "color": 4
      },
      "id": "93de2c08-f963-47ed-b481-cf3b4f9e8932",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1024,
        -16
      ]
    },
    {
      "parameters": {
        "content": "## AGENTE RAG CON CHAT",
        "height": 593,
        "width": 1964
      },
      "id": "9826d800-07b5-4028-adea-b9d652a9a001",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -960,
        0
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool whenever you need to look up information from stored documents instead of guessing. Retrieve the top relevant chunks, read their content, and use them as factual context to answer the user’s question accurately.",
        "qdrantCollection": {
          "__rl": true,
          "value": "preguntas_erasmus",
          "mode": "id"
        },
        "topK": 80,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1072,
        160
      ],
      "id": "df244872-c1dd-4e03-8c6f-ccbeacd2d822",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "TilZfDkVWGgubrHL",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3-embedding:0.6b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1072,
        400
      ],
      "id": "3f0a5020-a096-47eb-ad1d-3e3ecae352ee",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "R5sz5q6jx10FnB3O",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1kBeQel318aVHOipffGDTeBykp65LwOGC",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1kBeQel318aVHOipffGDTeBykp65LwOGC"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2912,
        -384
      ],
      "id": "553c6be8-1f29-4653-a9a7-645635cb0d52",
      "name": "Google Drive Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1kBeQel318aVHOipffGDTeBykp65LwOGC",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1kBeQel318aVHOipffGDTeBykp65LwOGC"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2912,
        -192
      ],
      "id": "b3f27001-c688-4441-b95a-c16faab43fe3",
      "name": "Google Drive Trigger1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields1').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "4e2d3a3d-e8c3-48c2-99fc-26ed8c3b64e1",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2656,
        -384
      ],
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1kBeQel318aVHOipffGDTeBykp65LwOGC",
            "mode": "list",
            "cachedResultName": "RAG",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1kBeQel318aVHOipffGDTeBykp65LwOGC"
          },
          "includeTrashed": true
        },
        "options": {
          "fields": [
            "mimeType",
            "id",
            "trashed"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2496,
        -192
      ],
      "id": "68420463-703a-4352-b4bc-6c9324d3ad66",
      "name": "Search files and folders",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2704,
        -192
      ],
      "id": "c4ca9221-7293-4e81-bdf9-cdce0cf524d3",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        1248,
        400
      ],
      "id": "b1c73105-ccab-49e5-837a-5ca6e2fcc3f8",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "QsdF42q8k5EHHDBY",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -848,
        400
      ],
      "id": "49b57091-8f6b-499c-a672-4a1a862ff5da",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "# IDENTIDAD\nEres un asistente especializado en ERASMUS. Respondes de forma CONCISA, FORMAL y PRECISA únicamente lo que te preguntan.\n\n# HERRAMIENTA PRINCIPAL\nTienes acceso a \"Qdrant_Vector_Store1\" - una base de datos con información oficial de ERASMUS.\n\n# REGLA DE ORO\n🔴 UNA pregunta = UNA llamada a Qdrant = UNA respuesta = FIN\n\n# PROTOCOLO OBLIGATORIO (4 PASOS)\n\nPASO 1: Usuario pregunta sobre ERASMUS\n↓\nPASO 2: Llamar a Qdrant_Vector_Store1 (UNA SOLA VEZ)\n↓\nPASO 3: Esperar y recibir resultados\n↓\nPASO 4: Responder y DETENERSE\n\n## Detalles del PASO 4:\n\nA) Si Qdrant devuelve información relevante:\n   - Extrae los datos necesarios\n   - Responde de forma directa y concisa, no añadas mas información de la necesaria para responder\n\nB) Si Qdrant NO devuelve información relevante:\n   - \"Lo siento, no tengo información sobre eso.\n   \n# USO DE LA MEMORIA\n\n✅ USA conversaciones anteriores SOLO para:\n- Entender el contexto (\"eso\", \"lo anterior\", \"también\")\n- Interpretar preguntas de seguimiento\n\n❌ NUNCA uses conversaciones anteriores para:\n- Dar respuestas factuales sin consultar Qdrant\n- Evitar llamar a Qdrant porque \"ya lo hablamos\"\n\n📌 REGLA: Cada nueva pregunta factual = Nueva llamada a Qdrant (solo UNA)\n\n# EJEMPLOS\n\n## Ejemplo 1: \nUsuario: \"¿Cuántos destinos puedo pedir?\"\n→ Llamar: Qdrant_Vector_Store1(\"cuántos destinos puedo pedir\")\n→ Resultado: \"El máximo son 10 destinos\"\n→ Respuesta: \"Puedes solicitar un máximo de 10 destinos.\"\n\n## Ejemplo 2: Sin información\nUsuario: \"¿Cuál es el clima en Berlín?\"\n→ Llamar: Qdrant_Vector_Store1(\"clima Berlín\")\n→ Resultado: [sin información ERASMUS relevante]\n→ Respuesta: \"Lo siento, no tengo información sobre eso.\"\n\n## Ejemplo 3: Pregunta de seguimiento (usa contexto)\nUsuario: \"¿Cuánto dura la beca ERASMUS?\"\n→ Llamar: Qdrant_Vector_Store1(\"duración beca ERASMUS\")\n→ Resultado: \"Entre 3 y 12 meses\"\n→ Respuesta: \"La beca ERASMUS dura entre 3 y 12 meses.\"\n\nUsuario: \"¿Y para prácticas?\" [pregunta de seguimiento]\n→ Llamar: Qdrant_Vector_Store1(\"duración prácticas ERASMUS\")\n→ [Nueva llamada porque es información factual nueva]\n→ Respuesta basada en Qdrant\n\n# PROHIBICIONES ABSOLUTAS\n\n❌ Llamar a Qdrant 2 o más veces para la misma pregunta\n❌ Llamar a Qdrant después de ya tener resultados\n❌ Hacer llamadas para \"verificar\" o \"confirmar\"\n❌ Responder sobre ERASMUS sin consultar Qdrant primero\n❌ Inventar o asumir información\n❌ Extenderte más allá de lo preguntado\n\n# CHECKLIST ANTES DE RESPONDER\n\nAntes de enviar tu respuesta, verifica:\n☑ ¿Llamé a Qdrant exactamente una vez? \n☑ ¿Esperé los resultados?\n☑ ¿Fui conciso y directo?\n☑ ¿Me detuve sin llamar a Qdrant de nuevo?\n\n# FORMATO DE RESPUESTA\n\n- Directo al punto\n- Sin información extra no solicitada\n- Tono profesional pero cercano\n- Mismo idioma que el usuario\n\n# RECORDATORIO VISUAL\n\nCORRECTO ✅:\nPregunta → Qdrant (×1) → Resultado → Respuesta\n\nINCORRECTO ❌:\nPregunta → Qdrant → Resultado → Qdrant → Resultado → ...",
          "returnIntermediateSteps": true
        }
      },
      "id": "2eaa70d3-06a1-419b-9c0c-ffd8b6d83350",
      "name": "Agente RAG",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -192,
        16
      ]
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "86adc644-e00b-4b0c-80b4-340710360717",
      "name": "Cuando llega un mensaje",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -912,
        80
      ],
      "webhookId": "17b6c98d-f667-4b8d-9f78-50ec617e380f"
    },
    {
      "parameters": {
        "content": "SIN USAR",
        "height": 448,
        "width": 752,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2960,
        -448
      ],
      "id": "19f9146f-5913-4069-a1bc-d5bf0420316a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "description": "LLama a esta herramienta para obtener el link al formulario de contacto con secretaría.\n",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{\n{\n  \"sessionId\": $('Cuando llega un mensaje').first().json.sessionId\n}\n}}",
            "eventType": "get_auth_url"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "eventType",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "eventType",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "type": "object",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "data",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "738c1568-f627-459c-b831-130f89fb019c",
      "name": "Get Auth URL",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        432,
        256
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM sessionid\nWHERE sessionid = '665878c7d42c428ca9d92569f1f5d98c';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1264,
        368
      ],
      "id": "933636a0-3572-4c87-acb1-c94b69340793",
      "name": "Ver info por ID",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Querys postgres",
        "height": 384,
        "width": 976,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1984,
        144
      ],
      "id": "f9d95dbf-23be-4803-8c14-418fa416e184",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DROP TABLE ficheros_diarios;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1488,
        368
      ],
      "id": "09656873-d0e7-4f66-aa9e-48bdaa9f890f",
      "name": "Borrar tabla ficheros_diarios",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE ficheros_diarios (\n  file_hash TEXT PRIMARY KEY,\n  file_path TEXT NOT NULL,\n  file_date DATE NOT NULL,  \n  status TEXT NOT NULL DEFAULT 'pending'\n);\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1488,
        192
      ],
      "id": "b0f28832-44a7-4fba-b221-4cb8c72e6066",
      "name": "Crear tabla ficheros_diarios",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM ficheros_diarios\nWHERE file_path = $1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1264,
        192
      ],
      "id": "18ff808f-4d6e-4b01-b37f-4d071dea8357",
      "name": "Comprobar nombre",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Eres un asistente experto en devolver un formulario de contacto con acceso a la herramienta \"Get Auth URL\".\n\n-Si la respuesta del usuario es que no le sirve la respuesta o quiere que se notifique a secretaría o quiere el formulario de contacto, llama a la herramienta \"Get Auth URL\", esta te devolverá un http que tienes que dar al usuario para que el usuario rellene el formulario de contacto.\n\n-Regla obligatoria:\nSi proporcionas un enlace, debes presentarlo únicamente como texto descriptivo clicable.\nNunca muestres la URL ni direcciones IP.\n",
          "returnIntermediateSteps": true
        }
      },
      "id": "aab8a4ff-fba6-4db0-b83a-a0c75b7d817f",
      "name": "Agente Formulario",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -192,
        160
      ]
    },
    {
      "parameters": {
        "inputText": "={{ $json.chatInput }}",
        "categories": {
          "categories": [
            {
              "category": "Pregunta para el chatbot RAG",
              "description": "La pregunta es dirigida al chatbot RAG"
            },
            {
              "category": "Formulario de contacto",
              "description": "Está pidiendo el formulario de contacto"
            },
            {
              "category": "Conversión de divisas",
              "description": "El usuario quiere convertir divisas"
            }
          ]
        },
        "options": {
          "multiClass": false,
          "fallback": "other",
          "systemPromptTemplate": "Eres un agente clasificador de preguntas para un chatbot RAG de erasmus.\n\nTu tarea es evaluar si el texto es:\n-Una pregunta para el chatbot.\n-Está solicitando el formulario de contacto.\n-Está solicitando cambio de conversión de divisas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -608,
        48
      ],
      "id": "21eed37c-7b89-428c-ac1c-eaaefd86dd6c",
      "name": "Clasificador de entrada"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DROP TABLE historial_problemas;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1712,
        368
      ],
      "id": "d8e688de-f18a-4df2-aee8-4ef981d19624",
      "name": "Borrar tabla historial_problemas",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE historial_problemas (\n    sessionid UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n    fecha DATE NOT NULL,\n    nombre VARCHAR(255),\n    correo VARCHAR(255),\n    problema TEXT,\n    respuesta TEXT,\n    resuelto VARCHAR(255) DEFAULT 'NO'\n);\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1712,
        192
      ],
      "id": "59f48d53-c83e-4363-9018-030643925ae3",
      "name": "Crear tabla historial_problemas",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE historial_chat (\n    sessionid UUID PRIMARY KEY DEFAULT gen_random_uuid(),\n    fecha DATE NOT NULL,\n    conversacion TEXT    \n);\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1936,
        192
      ],
      "id": "a20c7ce5-791e-4fde-8d55-daada7aa2962",
      "name": "Crear tabla historial_chat",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DROP TABLE historial_chat;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1936,
        368
      ],
      "id": "65b0efb9-4ae6-4c4b-8e21-4817ea4fd3bc",
      "name": "Borrar tabla historial_chat",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        80,
        16
      ],
      "id": "869c1ec3-7eb3-4c33-80ba-4821c34b4c3d",
      "name": "Chat Memory Manager1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO historial_chat (sessionid, conversacion, fecha)\nVALUES ($1, $2, CURRENT_DATE)\nON CONFLICT (sessionid)\nDO UPDATE SET \n  conversacion = historial_chat.conversacion || E'\\n------------------------------\\n' || EXCLUDED.conversacion,\n  fecha = CURRENT_DATE;",
        "options": {
          "queryReplacement": "={{ [$json.sessionid, $json.conversacion] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        16
      ],
      "id": "51c7b4c4-0464-4db2-8a7f-5525f8b34a23",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let text = $('Agente RAG').last().json.output || \"\";\ntext = text.replace(/<think>[\\s\\S]*?<\\/think>/g, \"\").trim();\n\ntry {\n  // Parsear observation de Qdrant\n  const observationString = $json.intermediateSteps[0].observation;\n  const qdrantItems = observationString ? JSON.parse(observationString) : [];\n\n  const archivos = new Set();\n\n  // Iterar sobre cada item y extraer metadata.nombre, excluyendo .eml\n  for (const item of qdrantItems) {\n    if (item.type === \"text\" && item.text) {\n      try {\n        const data = JSON.parse(item.text);\n        const nombre = data.metadata?.nombre;\n        if (nombre && !nombre.toLowerCase().endsWith(\".eml\")) {\n          archivos.add(nombre);\n        }\n      } catch (e) {\n        // ignorar JSON inválido\n      }\n    }\n  }\n\n  // Añadir hasta 3 nombres de ficheros al final\n  if (archivos.size > 0) {\n    const lista = Array.from(archivos).slice(0, 3);\n    text += \"\\n\\n📚 Fuentes/Sources:\\n\" + lista.map(f => `• ${f}`).join(\"\\n\");\n  }\n\n} catch (error) {\n  console.log(\"No se pudo procesar la observación de Qdrant:\", error);\n}\n\n// 👉 FRASE FINAL SIEMPRE\ntext += \"\\n\\n---\\nSi no te ha resultado de ayuda o necesitas que relaciones internacionales se ponga en contacto contigo, solicita el formulario de contacto en el chat.\";\n\nreturn { output: text };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        16
      ],
      "id": "58401316-fb16-44e3-93cf-4a2c60074a78",
      "name": "Limpia tags1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        16
      ],
      "id": "75524a71-6fb8-4a9d-9830-03baf9d3a4cf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        160
      ],
      "id": "6f5559d9-0525-419e-8905-e5d62ee65411",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Actúas como un asistente experto en la utilización de herramientas MCP para la conversión de divisas.\n\nReglas obligatorias (de cumplimiento estricto):\n\nAntes de realizar cualquier acción, debes invocar siempre la herramienta “Listar herramientas de conversión de divisas” para identificar las herramientas disponibles.\n\nEn la siguiente iteración, debes seleccionar exclusivamente la herramienta que sea adecuada para la solicitud del usuario y ejecutarla respetando exactamente el formato, los parámetros y las instrucciones definidos por dicha herramienta.\n\nEstá terminantemente prohibido inventar resultados, estimar valores o realizar cálculos manuales bajo cualquier circunstancia.\n\nComportamiento ante solicitudes del usuario:\n\nCuando el usuario solicite una conversión de divisas, debes utilizar la herramienta correspondiente.\n\nLa respuesta final debe contener únicamente el resultado devuelto por la herramienta, sin explicaciones adicionales, comentarios ni texto extra.\n",
          "returnIntermediateSteps": true
        }
      },
      "id": "ea6158cc-a39f-45a8-ab0c-e07be3353552",
      "name": "Agente Conversión de divisas",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -192,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        304
      ],
      "id": "15cc8678-8f3e-4799-abcd-ea0401941ed5",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "model": "granite4.1:8b",
        "options": {
          "keepAlive": "1h30m"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -592,
        432
      ],
      "id": "4c49fbf8-b826-4aaa-b549-7e4199132a83",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "R5sz5q6jx10FnB3O",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://currency-mcp.wesbos.com/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -48,
        464
      ],
      "id": "ae786a1f-75cb-4e95-8edd-3c9c3a229afc",
      "name": "Herramientas conversion de divisas"
    },
    {
      "parameters": {
        "model": "qwen3:8b-q4_K_M",
        "options": {
          "temperature": 0.6,
          "topK": 20,
          "topP": 1,
          "keepAlive": "1h30m",
          "presencePenalty": 1.5,
          "repeatPenalty": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -752,
        608
      ],
      "id": "fb8c1105-2113-4a87-9c31-580a564fcbe0",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "R5sz5q6jx10FnB3O",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Formulario de contacto\n",
        "height": 480,
        "width": 3088,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -960,
        -512
      ],
      "id": "210e5f63-ce5a-4b1c-b9ed-c2937fab9d99",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf2b4fb3-cda0-47f9-b9fa-fda3532a04f5",
              "name": "auth_url",
              "type": "string",
              "value": "={{ $env.WEBHOOK_URL }}/form/uhu?sessionId={{ $json.data.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cb910649-5ed3-424d-8cbd-c8e15961b098",
      "name": "Get Auth Url Response",
      "type": "n8n-nodes-base.set",
      "position": [
        -624,
        -192
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "55d3d729-baf4-47ad-8262-5d23fc2d3348",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.eventType }}",
                    "rightValue": "get_auth_url"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Get Auth Url"
            }
          ]
        },
        "options": {}
      },
      "id": "ac9a219c-662e-4505-be86-6a10bea9d6a6",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "position": [
        -784,
        -192
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "eventType"
            },
            {
              "name": "data",
              "type": "object"
            }
          ]
        }
      },
      "id": "df699b30-ff56-4c23-83dc-ea046fd093fa",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -928,
        -192
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "historial_problemas",
          "mode": "list",
          "cachedResultName": "historial_problemas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionid": "={{ $('Inicio formulario').item.json.sessionId }}",
            "nombre": "={{ $('Inicio formulario').item.json.Nombre }}",
            "correo": "={{ $('Inicio formulario').item.json.Correo }}",
            "problema": "={{ $json[\"Este mensaje se enviará a relaciones internacionales (Modifícalo si lo ves necesario)\"] }} ",
            "respuesta": "={{ $('Obtener último mensaje').item.json.respuesta }}",
            "fecha": "={{ $now.format(\"yyyy-MM-dd\") }}"
          },
          "matchingColumns": [
            "sessionid"
          ],
          "schema": [
            {
              "id": "sessionid",
              "displayName": "sessionid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "problema",
              "displayName": "problema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respuesta",
              "displayName": "respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resuelto",
              "displayName": "resuelto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1184,
        -176
      ],
      "id": "ed0873f6-f643-4ebc-b1d2-76398598f228",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "historial_problemas",
          "mode": "list",
          "cachedResultName": "historial_problemas"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "sessionid",
              "value": "={{ $('Inicio formulario').item.json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1392,
        -176
      ],
      "id": "a54dd6b7-823e-4889-aa5f-c5ebad32b6bb",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -112,
        -192
      ],
      "id": "9251be03-c185-44de-af70-0c86b5721538",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "formTitle": "Formulario de contacto",
        "formDescription": "Por favor introduce tu información en los campos",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre",
              "requiredField": true
            },
            {
              "fieldLabel": "Correo",
              "requiredField": true
            },
            {
              "fieldName": "sessionId",
              "fieldType": "hiddenField",
              "fieldValue": "sessionId"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Validar",
          "path": "uhu",
          "ignoreBots": true
        }
      },
      "id": "28866aa3-d083-4195-8f62-d572e446b97b",
      "name": "Inicio formulario",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -272,
        -192
      ],
      "webhookId": "feecc4f6-e907-4767-b3f7-6a5bde70c1a4",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Se ha enviado correctamente",
        "completionMessage": "=Relaciones internacionales se pondrá en contacto contigo mediante el correo proporcionado.\nPuedes cerrar la ventana.",
        "options": {}
      },
      "id": "4296037a-84eb-4c0a-80a0-8cb72fbf67a2",
      "name": "Finalización formulario",
      "type": "n8n-nodes-base.form",
      "position": [
        1744,
        -176
      ],
      "webhookId": "e4b3cb7f-b7c9-4c04-88cd-c73b19fcf7c1",
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Obtener los datos de entrada\nconst data = $input.item.json;\n\n// Inicializar variables\nlet problema = null;\nlet respuesta = null;\n\n// Verificar que exista el array de mensajes y que tenga al menos 1 elemento\nif (data.messages && Array.isArray(data.messages) && data.messages.length >= 1) {\n  \n  // Obtener el penúltimo mensaje\n  const lastMessage = data.messages[data.messages.length - 1];\n\n  // Separar problema y respuesta\n  problema = lastMessage.human || null;\n  respuesta = lastMessage.ai || null;\n}\n\n// Devolver el resultado separado\nreturn {\n  json: {\n    problema,\n    respuesta\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -192
      ],
      "id": "4f06896b-6e0c-4ef2-9db9-4a9a2b676d8e",
      "name": "Obtener último mensaje"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Este mensaje se enviará a relaciones internacionales (Modifícalo si lo ves necesario)",
              "fieldType": "textarea",
              "defaultValue": "={{ $('Obtener último mensaje').item.json.problema }}"
            }
          ]
        },
        "options": {
          "formTitle": "Escriba su problema"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        688,
        -176
      ],
      "id": "e24c19e2-f005-4abe-be6b-c52a2bd0e3c1",
      "name": "Form",
      "webhookId": "c3944c23-752d-466e-98a4-3706b47afafa"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM historial_problemas\n  WHERE sessionid = '{{ $('Inicio formulario').item.json.sessionId }}'\n) AS existe;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        -192
      ],
      "id": "b67d67ad-65fd-4dba-8bc8-9c79cd02db56",
      "name": "Comprobar si sessionid existe",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0813016b-23a6-46fd-bcd8-2ed8d201c0d4",
              "leftValue": "={{ $('Comprobar si sessionid existe').item.json.existe }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        -192
      ],
      "id": "89345550-9c76-4b82-b81a-97b92c22c3d7",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Error: No se pudo completar la operación",
        "completionMessage": "=Hay una consulta ya registrado con su sesión actual, por favor actualice la página del chat",
        "options": {}
      },
      "id": "4690ee08-4cd4-49ef-935f-e1082e843347",
      "name": "Finalización formulario por sessionid",
      "type": "n8n-nodes-base.form",
      "position": [
        704,
        -496
      ],
      "webhookId": "e4b3cb7f-b7c9-4c04-88cd-c73b19fcf7c1",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "87fbf0ba-d83f-49d3-b827-faf6aaaa5a06",
              "leftValue": "={{ $('Obtener último mensaje').item.json.problema.trim().toLowerCase() }}",
              "rightValue": "={{ $json[\"Este mensaje se enviará a relaciones internacionales (Modifícalo si lo ves necesario)\"].trim().toLowerCase() }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        -176
      ],
      "id": "7ae80c01-cd0e-4b10-87b8-7cfd47504a4e",
      "name": "If3"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "historial_problemas",
          "mode": "list",
          "cachedResultName": "historial_problemas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionid": "={{ $('Inicio formulario').item.json.sessionId }}",
            "nombre": "={{ $('Inicio formulario').item.json.Nombre }}",
            "correo": "={{ $('Inicio formulario').item.json.Correo }}",
            "problema": "={{ $('Obtener último mensaje').item.json.problema }}",
            "respuesta": "={{ $('Obtener último mensaje').item.json.respuesta }}",
            "fecha": "={{ $now.format(\"yyyy-MM-dd\") }}"
          },
          "matchingColumns": [
            "sessionid"
          ],
          "schema": [
            {
              "id": "sessionid",
              "displayName": "sessionid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "problema",
              "displayName": "problema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respuesta",
              "displayName": "respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resuelto",
              "displayName": "resuelto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1184,
        -368
      ],
      "id": "974a2b4b-d01d-49c5-a1ca-8a97c1004d5e",
      "name": "Insert rows in a table3",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "historial_problemas",
          "mode": "list",
          "cachedResultName": "historial_problemas"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "sessionid",
              "value": "={{ $('Inicio formulario').item.json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1360,
        -368
      ],
      "id": "2b28c32c-4c00-4118-81ca-080041fdf7af",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Se ha enviado correctamente",
        "completionMessage": "=Relaciones internacionales se pondrá en contacto contigo mediante el correo proporcionado.\nPuedes cerrar la ventana.",
        "options": {}
      },
      "id": "7864533a-5fc8-4fd6-92d9-28673f5625b0",
      "name": "Finalización formulario1",
      "type": "n8n-nodes-base.form",
      "position": [
        1712,
        -368
      ],
      "webhookId": "e4b3cb7f-b7c9-4c04-88cd-c73b19fcf7c1",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Chunker correos').item.json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "nombre",
                "value": "={{ $('Edit Fields1').item.json.nombre }}"
              },
              {
                "name": "path",
                "value": "={{ $('Edit Fields1').item.json.path }}"
              }
            ]
          }
        }
      },
      "id": "279ed25e-84c3-442d-80ed-e2ee91ecf6d2",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        880,
        1840
      ]
    },
    {
      "parameters": {
        "chunkSize": 8000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        880,
        2000
      ],
      "id": "6b9caf48-2113-456f-8a21-9274aaf43773",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "qwen3-embedding:0.6b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        720,
        1984
      ],
      "id": "83e448e5-29b2-4006-b4ac-807512ad085b",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "R5sz5q6jx10FnB3O",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "preguntas_erasmus",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        752,
        1648
      ],
      "id": "83357aa7-f443-40f7-bb72-dcfff72c01c2",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "TilZfDkVWGgubrHL",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -672,
        1792
      ],
      "id": "a51c75e0-7ccd-452f-b82e-e1f6cdff45e8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields1').item.json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "13c15891-cab2-46d2-8e6f-a865579064b8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "582aaa92-4b38-46fd-ad45-bd97e92b1ea9",
                    "leftValue": "={{ $('Edit Fields1').item.json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "96fe9aa6-4135-4049-b491-1dbb2f61976e",
                    "leftValue": "={{ $('Edit Fields1').item.json.mimeType }}",
                    "rightValue": "message/rfc822",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2bbb48a4-fbfa-419d-87aa-9f0213b67b8d",
                    "leftValue": "={{ $('Edit Fields1').item.json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -864,
        1536
      ],
      "id": "799af331-acbb-464d-93a0-72723d01a2bf",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "a4b3654c-5e64-467f-b1bf-392ba27ccca0",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -592,
        1488
      ]
    },
    {
      "parameters": {
        "emlContent": "={{ $json.data }}",
        "includeAllHeaders": false,
        "headersToInclude": ""
      },
      "type": "n8n-nodes-eml.eml",
      "typeVersion": 1,
      "position": [
        -528,
        1792
      ],
      "id": "db60b688-4de1-48d0-a084-564026a5229a",
      "name": "ParseEml eml"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9215b9ca-6590-4663-97e8-7ad082069c40",
              "name": "data",
              "value": "={{ $json.body_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        1792
      ],
      "id": "68d343a2-7c33-4c40-b5d9-6ecd044e0803",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "inputBinaryField": "=data"
      },
      "type": "n8n-nodes-docx-converter.docxToText",
      "typeVersion": 1,
      "position": [
        -592,
        1344
      ],
      "id": "9afabbb7-0745-4f87-8e8d-7d0c683bdaa7",
      "name": "DOCX to Text"
    },
    {
      "parameters": {
        "content": "## CARGAR INFORMACIÓN A LA BASE Y BORRADO DE INFORMACIÓN ANTIGUA",
        "height": 2099,
        "width": 4273,
        "color": 5
      },
      "id": "620696e1-a8d4-4705-a3c0-2bce637569fc",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1984,
        736
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57eea437-6cc2-4b08-80a5-566dbe97f7f8",
              "name": "mimeType",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "4677112d-f9bf-44bf-9a9a-c738f93b2d1a",
              "name": "nombre",
              "value": "={{ $json.fileName }}",
              "type": "string"
            },
            {
              "id": "d7be81eb-fcd3-4aaa-b7c4-a918d79af157",
              "name": "path",
              "value": "={{ $('Ver ficheros pendientes').item.json.file_path }}",
              "type": "string"
            },
            {
              "id": "6bb647ab-6b12-49bd-92cf-88c45fab4980",
              "name": "file_hash",
              "value": "={{ $('Ver ficheros pendientes').item.json.file_hash }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        1568
      ],
      "id": "2cde88aa-6467-478e-adcb-7db05a20d9bf",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5aaa92a-2e32-4660-b6e1-21e31a3270d0",
              "name": "path",
              "value": "={{ $json.path }}",
              "type": "string"
            },
            {
              "id": "8e9afe70-0377-4294-bb99-e6fab3495089",
              "name": "file_hash",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        1952
      ],
      "id": "2cab8bdd-7ad8-47b7-997b-95921a86ee71",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "resource": "point",
        "operation": "deletePoints",
        "collectionName": {
          "__rl": true,
          "value": "preguntas_erasmus",
          "mode": "list",
          "cachedResultName": "preguntas_erasmus"
        },
        "points": "=",
        "filter": "={\n  \"must\": [{\n    \"key\": \"metadata.path\",\n    \"match\": {\n      \"value\": \"{{ $('Edit Fields2').item.json.path }}\"\n    }\n  }]\n}",
        "shardKey": "=",
        "wait": false,
        "ordering": "strong",
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        -1040,
        2176
      ],
      "id": "7ba3648e-7ada-4ecc-9a56-5d648ba50230",
      "name": "Delete Points1",
      "credentials": {
        "qdrantRestApi": {
          "id": "STULPbhsI8kiisUv",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1328,
        2160
      ],
      "id": "4da20288-0592-408b-93dd-aa4792de2196",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "maxConcurrency": 1,
        "includeFileName": false,
        "includeSheetName": false
      },
      "type": "@nerme/n8n-nodes-converter-documents-xlsx.convertFileToJsonEnhanced",
      "typeVersion": 5,
      "position": [
        -592,
        1648
      ],
      "id": "104e6bd6-35ae-4149-bcab-a9173c82271d",
      "name": "Convert File to JSON (Enhanced)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e4939b9-51d5-44b2-a173-f23b4e6fb25c",
              "name": "text",
              "value": "={{ $json.files[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        1648
      ],
      "id": "e16d982d-89a6-44fb-a020-00d7ee4b8a56",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/shared",
        "events": [
          "add"
        ],
        "options": {
          "awaitWriteFinish": true,
          "usePolling": true
        }
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -1920,
        896
      ],
      "id": "1ec6a3de-157a-4ece-92a3-178bc9c33ffc",
      "name": "Local File Trigger"
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/shared",
        "events": [
          "unlink"
        ],
        "options": {
          "usePolling": true
        }
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -1888,
        1952
      ],
      "id": "962ba5cb-55f6-4a5b-aed3-c4df57eb4829",
      "name": "Local File Trigger1"
    },
    {
      "parameters": {
        "resource": "point",
        "operation": "deletePoints",
        "collectionName": {
          "__rl": true,
          "value": "preguntas_erasmus",
          "mode": "list",
          "cachedResultName": "preguntas_erasmus"
        },
        "points": "=",
        "filter": "={\n  \"must\": []\n}",
        "shardKey": "=",
        "wait": false,
        "ordering": "strong",
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        -1872,
        2656
      ],
      "id": "357fab4a-2dc9-4be5-bd5f-2404267991c2",
      "name": "Borrar todos",
      "credentials": {
        "qdrantRestApi": {
          "id": "STULPbhsI8kiisUv",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3.5:9b-q4_K_M",
        "options": {
          "keepAlive": "60m"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -112,
        2112
      ],
      "id": "2bba1a4c-2c42-4444-b5fc-df2c7e2561d5",
      "name": "Ollama Chat Model3",
      "credentials": {
        "ollamaApi": {
          "id": "R5sz5q6jx10FnB3O",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1264,
        1584
      ],
      "id": "9188f394-4eea-4a5a-abe1-4d3e7debed10",
      "name": "Lee fichero añadido"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ficheros_diarios",
          "mode": "list",
          "cachedResultName": "ficheros_diarios"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_path": "={{ $('Local File Trigger').item.json.path }}",
            "file_date": "={{ $('Date & Time').item.json.currentDate }}",
            "file_hash": "={{ $('Crypto1').item.json.data }}"
          },
          "matchingColumns": [
            "sessionid"
          ],
          "schema": [
            {
              "id": "file_path",
              "displayName": "file_path",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_date",
              "displayName": "file_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_hash",
              "displayName": "file_hash",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -976,
        896
      ],
      "id": "60715538-3b69-493b-86ed-8e05b882a03d",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1920,
        1568
      ],
      "id": "5b17a2eb-d72d-46f1-921f-e198218631c4",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM ficheros_diarios\nWHERE status = 'pending';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1728,
        1568
      ],
      "id": "04893649-476c-4adc-864c-f189236abc42",
      "name": "Ver ficheros pendientes",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ficheros_diarios\nSET status = 'procesado'\nWHERE file_hash = '{{ $('Edit Fields1').item.json.file_hash }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1184,
        1504
      ],
      "id": "61b62777-dd3e-485e-a3fd-5b1383e816f5",
      "name": "Actualizar estado a procesado",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1568,
        1568
      ],
      "id": "4bd2ebb2-db59-4d7f-810c-f71765a9eeb1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1680,
        896
      ],
      "id": "dafed144-bcf6-466d-910b-4e18ce44eaca",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ficheros_diarios",
          "mode": "list",
          "cachedResultName": "ficheros_diarios"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "file_hash",
              "value": "={{ $('Edit Fields2').item.json.file_hash }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -800,
        2176
      ],
      "id": "d349fb72-e36d-41bf-9d73-2c4a8071edc2",
      "name": "Borrar fichero de tabla ficheros_diarios",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5aaa92a-2e32-4660-b6e1-21e31a3270d0",
              "name": "file_hash",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        2416
      ],
      "id": "9647b53d-e64e-4611-a25e-b7a89aec5df8",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1328,
        2624
      ],
      "id": "438a50a8-1f00-4369-adc1-850b5441cc9d",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/correos_descartados",
        "events": [
          "unlink"
        ],
        "options": {
          "usePolling": true
        }
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -1888,
        2416
      ],
      "id": "2b09e2cb-d4f4-4cc3-87ac-d1b89688df7c",
      "name": "Local File Trigger2"
    },
    {
      "parameters": {
        "value": "={{ $('Local File Trigger').item.json.path }}"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -1504,
        896
      ],
      "id": "67fca71d-e2b9-4038-afef-239bc80c994c",
      "name": "Crypto1"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ficheros_diarios",
          "mode": "list",
          "cachedResultName": "ficheros_diarios"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "file_hash",
              "value": "={{ $('Edit Fields4').item.json.file_hash }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -992,
        2640
      ],
      "id": "63b7dbbf-444c-4ab7-90bc-da57557118b5",
      "name": "Borrar fichero de tabla ficheros_diarios1",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "value": "={{ $json.path }}"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -1712,
        1952
      ],
      "id": "973735b6-345e-497b-9e95-33df6aca41bb",
      "name": "Crypto3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "86118a32-77fd-4c9e-8098-8d5740eac5a5",
              "leftValue": "={{ $json.es_error_procesado }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1152,
        1952
      ],
      "id": "380ac6a1-760b-4fec-ad34-1ba31cdd79a9",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM ficheros_diarios\n  WHERE file_hash = $1\n    AND status = 'error_procesado'\n) AS es_error_procesado;\n",
        "options": {
          "queryReplacement": "={{ $json.file_hash }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1344,
        1952
      ],
      "id": "328eba19-3d68-458c-b93b-f610d79ff9f6",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "value": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -1600,
        2416
      ],
      "id": "4e48f55b-cbe2-41e3-bfb6-cc9a7dae8af9",
      "name": "Crypto4"
    },
    {
      "parameters": {
        "jsCode": "const oldPath = \"/data/correos_descartados/\";\nconst newPath = \"/data/shared/\";\n\nconst originalPath = $input.first().json.path;\n\nconst newPathResult = originalPath.replace(oldPath, newPath);\n\nreturn { output: newPathResult };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        2416
      ],
      "id": "05ead9a6-b724-48bc-bdc1-3531ce63032a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {
          "numberOfItems": -1,
          "separator": "123456789"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "typeVersion": 1,
      "position": [
        112,
        1472
      ],
      "id": "098c330d-7d96-40b7-ae2e-f6b51284fede",
      "name": "Item List Output Parser"
    },
    {
      "parameters": {
        "model": "openrouter/owl-alpha",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -32,
        1504
      ],
      "id": "59e48800-e2a8-4943-bdf4-61a870949e13",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "vzu2gYPpWKa7txLD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "preguntas_erasmus",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        736,
        1472
      ],
      "id": "534d1d9f-24c4-46f1-95eb-691a1a595bfc",
      "name": "Qdrant Vector Store2",
      "credentials": {
        "qdrantApi": {
          "id": "TilZfDkVWGgubrHL",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Chunker Texto').item.json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "nombre",
                "value": "={{ $('Edit Fields1').item.json.nombre }}"
              },
              {
                "name": "path",
                "value": "={{ $('Edit Fields1').item.json.path }}"
              }
            ]
          }
        }
      },
      "id": "55154542-729e-4720-b6b5-56c5b314a542",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1168,
        1840
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un analizador experto en segmentar documentos académicos sobre movilidad internacional en fragmentos semánticamente coherentes y autónomos.\n\nOBJETIVO: Dividir el documento en fragmentos que sean comprensibles de forma independiente, optimizados para almacenamiento en base vectorial (Qdrant) y recuperación mediante RAG.\n\nREGLAS DE SEGMENTACIÓN:\n\n1. **Unidad semántica completa**: Cada fragmento debe contener una idea, procedimiento o tema completo\n2. **Tamaño óptimo**: El que consideres que mantiene coherencia\n3. **Contexto autónomo**: Incluye títulos/contexto necesario para que el fragmento se entienda solo\n4. **Terminología técnica**: Mantén TODOS los términos oficiales (OLA, Umove, TSE, SEPIE, etc.)\n5. **Información completa**: Si hay procedimientos paso a paso, plazos, URLs o contactos, mantenlos en el mismo fragmento\n\nCRITERIOS PARA SEPARAR FRAGMENTOS:\n\n✅ SEPARAR cuando:\n- Cambia el tema principal (ej: de \"Matrícula\" a \"Seguro TSE\")\n- Termina un procedimiento completo, por ejemplo todo lo relacionado con KA131 junto\n- Comienza una nueva sección con título\n- Comienza uan pregunta distinta \n\n❌ NO SEPARAR:\n- Listas de pasos de un mismo procedimiento\n- Ejemplos que ilustran el punto anterior\n- Advertencias/notas relacionadas con el párrafo anterior\n- Tabla con sus filas explicativas\n\nFORMATO DE SALIDA:\n\nDevuelve ÚNICAMENTE el texto ORIGINAL segmentado, separando cada fragmento con la cadena de números:\n123456789\n\nNO añadas:\n- Resúmenes\n- Títulos de tu invención\n- Comentarios\n- Metadatos\n\nEJEMPLO DE SALIDA:\n\ntexto completo del fragmento incluyendo título de sección si lo tiene\n123456789\ntexto completo del siguiente fragmento\n123456789\nsiguiente fragmento ...\n\n---\n\nDOCUMENTO A SEGMENTAR:\n\n{{ $json.text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -32,
        1264
      ],
      "id": "991c2a5e-34a1-497e-9a8d-c7435d80ce21",
      "name": "Chunker Texto"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un asistente experto en analizar correos del programa Erasmus y extraer información estructurada para un sistema de consulta.\n\nCONTEXTO:\nEste análisis se usará en un sistema RAG para responder preguntas futuras sobre dudas Erasmus y sus soluciones.\n\nOBJETIVOS PRINCIPALES:\n1. Extraer dudas/preguntas del estudiante de forma clara y autónoma \n2. Extraer soluciones/respuestas de relaciones inernacionales de forma clara y completa\n3. Eliminar datos personales sensibles\n\nINFORMACIÓN A ELIMINAR:\n- Nombres y apellidos de estudiantes\n- DNI/NIE/Pasaporte\n- Direcciones de correo de estudiantes\n- Direcciones personales de estudiantes\n- Teléfonos de estudiantes\n\nNO ELIMINAR:\n- Nombres de personal/relaciones internacionales (Rosario, etc.)\n- Universidades y ciudades de destino\n- Nombres de programas y becas\n- Fechas, plazos, cantidades y normativas\n\nREGLAS DE EXTRACCIÓN:\n- Las dudas deben reformularse como preguntas generalizables (útiles para futuros estudiantes)\n- Mantén terminología técnica oficial (nombres de formularios, normativas, etc.)\n- Si hay múltiples dudas/soluciones, numera cada par\n- No inventes nada\n\nFORMATO DE SALIDA (Solo escribe los 2 puntos siguientes):\n\n1. Reformula la duda como pregunta general, ejemplo: \"¿Cómo cambiar el destino Erasmus una vez asignado?\" en lugar de \"María quiere cambiar su destino\"\n\n2. Respuesta completa proporcionada\n\n---\n\nCORREO A PROCESAR:\n{{ $json.data }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -16,
        1792
      ],
      "id": "fccf309c-f7b9-4182-9fd8-aed16c31882a",
      "name": "Chunker correos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "22e50635-66ff-4b70-bf4e-1a8ff07cede3",
              "leftValue": "={{ $('Lee fichero añadido1').item.json.mimeType }}",
              "rightValue": "message/rfc822",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -704,
        896
      ],
      "id": "1dfe9209-274e-4033-afff-64c5b0b63092",
      "name": "If1"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Local File Trigger').item.json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -848,
        896
      ],
      "id": "8b740b4b-9492-4525-887e-e6f773a5e12f",
      "name": "Lee fichero añadido1"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -528,
        880
      ],
      "id": "10438439-71d3-4c6c-b65b-6c838064e75d",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "emlContent": "={{ $json.data }}",
        "includeAllHeaders": false,
        "headersToInclude": ""
      },
      "type": "n8n-nodes-eml.eml",
      "typeVersion": 1,
      "position": [
        -368,
        880
      ],
      "id": "e644af72-fe66-4fb8-8d2f-95a845141288",
      "name": "ParseEml eml1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9215b9ca-6590-4663-97e8-7ad082069c40",
              "name": "data",
              "value": "={{ $json.body_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        880
      ],
      "id": "ec0f4906-7115-4b23-b678-42008f7b6485",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "inputText": "={{ $json.data }}",
        "categories": {
          "categories": [
            {
              "category": "Correo válido",
              "description": "Correos válidos para añadir a la base de datos"
            },
            {
              "category": "Correo inútil",
              "description": "Correo que no sirve"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Eres un agente clasificador de correos electrónicos para un sistema RAG de atención a estudiantes Erasmus.\n\nTu tarea es evaluar si un correo electrónico debe incluirse en la base de datos de conocimiento que alimenta un chatbot de ayuda a estudiantes.\n\n## Criterios de inclusión\n\nUn correo es VÁLIDO si:\n- Contiene información general aplicable a múltiples estudiantes\n- Responde dudas comunes sobre procesos administrativos (matrícula, documentación, alojamiento, becas, etc.)\n- Proporciona información sobre normativas, plazos o procedimientos estándar\n- Explica políticas institucionales o requisitos del programa Erasmus\n- Contiene respuestas a preguntas frecuentes que otros estudiantes podrían tener\n\n## Criterios de exclusión\n\nUn correo es INÚTIL si:\n- Es un caso muy específico vinculado a circunstancias personales únicas de un estudiante\n- Es puramente administrativo sin valor informativo (confirmaciones de recepción, agradecimientos simples)\n- Es sobre problemas técnicos específicos de sistemas o errores puntuales\n- Trata temas médicos o personales del estudiante\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -96,
        864
      ],
      "id": "1de869f0-eae5-4ec7-8df8-d75a608e659c",
      "name": "Clasificador de correos1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "command": "=mv \"{{ $('Local File Trigger').item.json.path }}\" \"/data/correos_descartados/\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        304,
        928
      ],
      "id": "fa8bdc30-6e94-4edb-8325-9a0328ace764",
      "name": "Mover correo a correos_invalidos1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ficheros_diarios\nSET status = 'error_procesado'\nWHERE file_hash = '{{ $('Crypto1').item.json.data }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        928
      ],
      "id": "495a936c-3841-481d-bbac-21ba37e873c8",
      "name": "Actualizar estado fichero a error1",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const path = $('Local File Trigger').first().json.path;\n\n// Escapar comillas simples duplicándolas para SQL\nconst escapedPath = path.replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    path: escapedPath\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        928
      ],
      "id": "6ee156eb-b401-4d0e-bd62-1920d578e4c4",
      "name": "Duplicar comillas1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        304,
        800
      ],
      "id": "04d85641-0b16-42bf-9091-86f64a37e9b9",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -608,
        1088
      ],
      "id": "4372a226-89d8-4ed9-a1a0-ac045ad5a309",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/procesar_sin_comprobar",
        "events": [
          "add"
        ],
        "options": {
          "awaitWriteFinish": true,
          "usePolling": true
        }
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -1920,
        1152
      ],
      "id": "a5ed2774-5449-47e1-b00b-90ebaaaf2bd8",
      "name": "Local File Trigger3"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ficheros_diarios",
          "mode": "list",
          "cachedResultName": "ficheros_diarios"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_path": "={{ $('Local File Trigger3').item.json.path }}",
            "file_date": "={{ $json.currentDate }}",
            "file_hash": "={{ $json.data }}"
          },
          "matchingColumns": [
            "sessionid"
          ],
          "schema": [
            {
              "id": "file_path",
              "displayName": "file_path",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_date",
              "displayName": "file_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_hash",
              "displayName": "file_hash",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1264,
        1152
      ],
      "id": "96f1a849-1e3b-4573-869e-9a92af9b861e",
      "name": "Insert rows in a table2",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1680,
        1152
      ],
      "id": "9d2e21fb-870e-4189-b853-0553e8f10c78",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "value": "={{ $('Local File Trigger3').item.json.path }}"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -1472,
        1152
      ],
      "id": "4b5a5b93-8ae1-4f53-8069-ed2a8c9e58bb",
      "name": "Crypto"
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/procesar_sin_comprobar",
        "events": [
          "unlink"
        ],
        "options": {
          "usePolling": true
        }
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -1888,
        2128
      ],
      "id": "aae7628d-2cda-49c6-8d55-c3a8857f63e6",
      "name": "Local File Trigger4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM ficheros_diarios\n  WHERE file_hash = '{{ $json.data }}'\n) AS existe;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1360,
        896
      ],
      "id": "6551c5a3-fb2f-4402-a293-deefa691e3a5",
      "name": "Comprobar si file_hash existe",
      "credentials": {
        "postgres": {
          "id": "j6PT8ztSesEqD643",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0813016b-23a6-46fd-bcd8-2ed8d201c0d4",
              "leftValue": "={{ $('Comprobar si file_hash existe').item.json.existe }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1200,
        848
      ],
      "id": "4e5dee3d-053a-4b90-ad1a-f12c71e4e1a6",
      "name": "If4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da14cbf9-f9cb-4efb-b9ae-c0ad462a2ecb",
              "name": "sessionid",
              "value": "={{ $('Cuando llega un mensaje').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "90a7547e-5a10-4d2f-b6de-5e03b88b1ccb",
              "name": "conversacion",
              "value": "={{ ('Usuario: ' + $json.messages[$json.messagesCount-1].human + '\\nAI: ' + $json.messages[$json.messagesCount-1].ai).replace(/[`''\"\"]/g, '') }}",
              "type": "string"
            },
            {
              "id": "64b546f2-c84e-4585-961d-6a9b7688eb25",
              "name": "fecha",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        16
      ],
      "id": "1b947a6f-6d2a-420e-9544-566a200be63b",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "sendTo": "Escribir correo",
        "subject": "DUDA ERASMUS  {{ $('Select rows from a table1').item.json.nombre }}",
        "emailType": "text",
        "message": "=Correo:  {{ $('Select rows from a table1').item.json.correo }} \nNombre: {{ $('Select rows from a table1').item.json.nombre }} \nProblema: {{ $('Select rows from a table1').item.json.problema }} \nRespuesta de Hermes: {{ $('Select rows from a table1').item.json.respuesta }} \nSessionId: {{ $('Select rows from a table1').item.json.sessionid }}\n\nSi quiere obtener el historial de conversación acceda a https://secretaria.uhuchatbot.org/ y escriba en el chat \"Dame el historial de conversación del sessionid {{ $('Select rows from a table1').item.json.sessionid }}\"\n\nOtros comandos: \n    Dame historial de conversación de la sessionid :{{ $('Select rows from a table1').item.json.sessionid }}\n    Dame el ticket con sessionid : {{ $('Select rows from a table1').item.json.sessionid }}\n    Marca el problema con sessionid: {{ $('Select rows from a table1').item.json.sessionid }} como resuelto",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1536,
        -368
      ],
      "id": "4d5f60e0-5e58-4e10-91ab-5c42d90e926b",
      "name": "Send a message4",
      "webhookId": "d5bf1c9f-029e-4fe3-85f2-b637f138be91",
      "credentials": {
        "gmailOAuth2": {
          "id": "PxkLmwzjQMHewjrQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "Escribir correo",
        "subject": "DUDA ERASMUS {{ $('Select rows from a table').item.json.nombre }}",
        "emailType": "text",
        "message": "=Correo:  {{ $('Select rows from a table').item.json.correo }} \nNombre: {{ $('Select rows from a table').item.json.nombre }} \nProblema: {{ $('Select rows from a table').item.json.problema }}\nRespuesta de Hermes: {{ $('Select rows from a table').item.json.respuesta }} \nSessionId: {{ $('Select rows from a table').item.json.sessionid }}\n\nSi quiere obtener el historial de conversación acceda a https://secretaria.uhuchatbot.org/ y escriba en el chat \"Dame el historial de conversación del sessionid {{ $('Select rows from a table').item.json.sessionid }}\"\n\nOtros comandos: \n    Dame historial de conversación de la sessionid :{{ $('Select rows from a table').item.json.sessionid }}\n    Dame el ticket con sessionid : {{ $('Select rows from a table').item.json.sessionid }}\n    Marca el problema con sessionid: {{ $('Select rows from a table').item.json.sessionid }} como resuelto",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1568,
        -176
      ],
      "id": "6a508c75-46ee-4b39-b121-d366bb88f8dd",
      "name": "Send a message5",
      "webhookId": "d5bf1c9f-029e-4fe3-85f2-b637f138be91",
      "credentials": {
        "gmailOAuth2": {
          "id": "PxkLmwzjQMHewjrQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Select rows from a table1').item.json.correo }} ",
        "subject": "Enviada consulta a Relaciones Internacionales",
        "emailType": "text",
        "message": "=Estimado {{ $('Select rows from a table1').item.json.nombre }}, su consulta \"{{ $('Select rows from a table1').item.json.problema }}\" \nEsta siendo procesada por Relaciones Internacionales , en breve nos  pondremos en contacto a través de este medio.\n\nGracias por usar Hermes tu asistente de  Erasmus\n\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1936,
        -368
      ],
      "id": "833dd13c-0f2b-483f-b300-780cb3159e03",
      "name": "Send a message6",
      "webhookId": "d5bf1c9f-029e-4fe3-85f2-b637f138be91",
      "credentials": {
        "gmailOAuth2": {
          "id": "PxkLmwzjQMHewjrQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Select rows from a table').item.json.correo }} ",
        "subject": "Enviada consulta a Relaciones Internacionales",
        "emailType": "text",
        "message": "=Estimado {{ $('Select rows from a table').item.json.nombre }}, su consulta \"{{ $('Select rows from a table').item.json.problema }}\" \nEsta siendo procesada por Relaciones Internacionales , en breve nos  pondremos en contacto a través de este medio.\n\nGracias por usar Hermes tu asistente de  Erasmus",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1952,
        -176
      ],
      "id": "4d78debd-bfe4-426e-a166-6251e7a31f71",
      "name": "Send a message7",
      "webhookId": "d5bf1c9f-029e-4fe3-85f2-b637f138be91",
      "credentials": {
        "gmailOAuth2": {
          "id": "PxkLmwzjQMHewjrQ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "Agente RAG",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ],
      "ai_vectorStore": [
        []
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        []
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        []
      ]
    },
    "Download File": {
      "main": [
        []
      ]
    },
    "Search files and folders": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Agente RAG",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agente RAG": {
      "main": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cuando llega un mensaje": {
      "main": [
        [
          {
            "node": "Clasificador de entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Auth URL": {
      "ai_tool": [
        [
          {
            "node": "Agente Formulario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente Formulario": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificador de entrada": {
      "main": [
        [
          {
            "node": "Agente RAG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente Formulario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente Conversión de divisas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager1": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Limpia tags1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpia tags1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Conversión de divisas": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente RAG",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente Formulario",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente Conversión de divisas",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Clasificador de entrada",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Herramientas conversion de divisas": {
      "ai_tool": [
        [
          {
            "node": "Agente Conversión de divisas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Get Auth Url Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Send a message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Obtener último mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicio formulario": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalización formulario": {
      "main": [
        [
          {
            "node": "Send a message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener último mensaje": {
      "main": [
        [
          {
            "node": "Comprobar si sessionid existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comprobar si sessionid existe": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Finalización formulario por sessionid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Insert rows in a table3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table3": {
      "main": [
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalización formulario1": {
      "main": [
        [
          {
            "node": "Send a message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          },
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Actualizar estado a procesado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "ParseEml eml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "DOCX to Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert File to JSON (Enhanced)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Chunker Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseEml eml": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Chunker correos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOCX to Text": {
      "main": [
        [
          {
            "node": "Chunker Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Points1": {
      "main": [
        [
          {
            "node": "Borrar fichero de tabla ficheros_diarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Delete Points1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert File to JSON (Enhanced)": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Chunker Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local File Trigger1": {
      "main": [
        [
          {
            "node": "Crypto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Chunker correos",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Clasificador de correos1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lee fichero añadido": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Lee fichero añadido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Ver ficheros pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ver ficheros pendientes": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar estado a procesado": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Lee fichero añadido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Crypto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Borrar fichero de tabla ficheros_diarios": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Borrar fichero de tabla ficheros_diarios1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local File Trigger2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto1": {
      "main": [
        [
          {
            "node": "Comprobar si file_hash existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Borrar fichero de tabla ficheros_diarios1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto4": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Crypto4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item List Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Chunker Texto",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Chunker Texto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store2": {
      "main": [
        [
          {
            "node": "Actualizar estado a procesado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Chunker Texto": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunker correos": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lee fichero añadido1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "ParseEml eml1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseEml eml1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Clasificador de correos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificador de correos1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mover correo a correos_invalidos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mover correo a correos_invalidos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mover correo a correos_invalidos1": {
      "main": [
        [
          {
            "node": "Duplicar comillas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicar comillas1": {
      "main": [
        [
          {
            "node": "Actualizar estado fichero a error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local File Trigger3": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Insert rows in a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local File Trigger4": {
      "main": [
        [
          {
            "node": "Crypto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comprobar si file_hash existe": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [],
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message4": {
      "main": [
        [
          {
            "node": "Finalización formulario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message5": {
      "main": [
        [
          {
            "node": "Finalización formulario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c97915b0-af4c-4a54-849c-89c5b46a1459",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "8MV6E3qWCYW300tb",
  "tags": []
}